<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title}) %>

    <body>

        <%- include('../partials/nav') %>

            <div class="container-sm" style="max-width:540px">
                <br>
                <form action="/productos" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="input-group mb-2">
                        <label for="title" class="input-group-text">Titulo</label>
                        <input id="title" class="form-control" type="text" name="title" value="Producto" required>
                    </div>
                    <div class="input-group mb-3">
                        <label for="price" class="input-group-text">Precio</label>
                        <span class="input-group-text">$</span>
                        <input id="price" class="form-control" type="number" min="0.00" step="0.01" name="price"
                            value="1" required>
                    </div>
                    <div class="input-group mb-3">
                        <label for="thumbnail" class="input-group-text">Imagen</label>
                        <input id="thumbnail" class="form-control" type="text" name="thumbnail"
                            value="https://cdn2.iconfinder.com/data/icons/flat-seo-web-ikooni/128/flat_seo3-15-128.png"
                            required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Agregar</button>
                    </div>
                </form>
            </div>

    </body>

    <%- include('../partials/scripts') %>

</html>