<div class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded">
    <h1 class="my-3">Login</h1>
    <form method="post" onsubmit="">
        <!-- title input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="text" id="nemo" name="nemo" placeholder="Nombre" required/>
        </div>
        <!-- Submit -->
        <button type="submit" value="login" class="btn btn-dark btn-block mb-4">Login</button>
    </form>
</div>